#preloader {
    background-color: #F8F8F8;
}
.show {
    height: 100%;
    -webkit-transition: height 0.75s; /* For Safari 3.1 to 6.0 */
    transition: height 0.75s;
    -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
}
.hide {
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.75s; /* For Safari 3.1 to 6.0 */
    transition: height 0.75s;
    -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
}
#preloader-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #F8F8F8;
    margin: auto;

    -webkit-transition: all 0.35s; /* For Safari 3.1 to 6.0 */
    transition: all 0.35s;
    -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
}
#bar {
    height: 100%;
    background-color: #FE2D01;

    -webkit-transition: all 0.20s; /* For Safari 3.1 to 6.0 */
    transition: all 0.20s;
    -webkit-transition-timing-function: ease-out; /* Safari and Chrome */
    transition-timing-function: ease-out;
}